{% load static %}
<!-- Header -->
<header class="header">
    <div class="container header-content">
        <a href="{% url 'home' %}" target="_self" rel="noopener noreferrer">
            <img src="{% static 'real_state_staticss/real_state_logo.png' %}" alt="Logo" class="logo">
        </a>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'listing' %}">LISTING</a></li>
                <li><a href="#">AGENTS</a></li>
                <li><a href="#">CONTACT</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" target="_self">LOGIN</a></li>
                    <li><a href="{% url 'redirect_question' %}" target="_self">SIGN-UP</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="header-actions">
            <a href="#" class="btn btn-primary">Add Listing</a>
        </div>
    </div>
</header>