{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Log-in{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'real_state_staticss/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-header">
        <h1>Welcome back</h1>
        <p>Please enter your details to log in</p>
    </div>
    
    <form action="." method="post" autocomplete="on">
        {% csrf_token %}
        {{ err_msg }}
        <div class="form-group">
            <label for="email">Email</label>
            {{form.email}}
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            {{form.password}}
        </div>

        <div class="form-footer">
            <a href="/forgot-password" class="forgot-password">Forgot password?</a>
        </div>

        <button type="submit" class="login-button">Sign in</button>
    </form>

    <div class="signup-prompt">
        Don't have an account?<a href="{% url 'redirect_question' %}">Sign up</a>
    </div>
</div>
{% endblock %}
